.title {
    display: block;
    font-size: var(--fs-lg);
    font-weight: var(--fw-normal);
    color: var(--dark-blue);
    text-align: center;
}

.devider {
    margin: 30px 0;
    border: 2px dotted var(--dark-green);
    border-radius: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    position: relative;
    width: 340px;
    height: 400px;
    display: grid;
    justify-items: center;
    padding: 10px 20px;
    border-right: 5px solid var(--blue);
    border-left: 5px solid var(--blue);
    margin-top: 40px;
    background-color: #f5f6f8;
}

.header {
    position: absolute;
    height: 110px;
    width: 330px;
    background-color: #4c4f54;
}

.footer {
    position: absolute;
    top: 395px;
    height: 5px;
    width: 330px;
    background-color: #4c4f54;
}

.profile {
    position: absolute;
    top: 76px;
    left: 30px;
    background-image: url('./assets/arrow.png');
    height: 69px;
    width: 40px;
}

.profile2 {
    position: absolute;
    top: 96px;
    left: 260px;
    background-image: url('./assets/arrow2.png');
    height: 45px;
    width: 30px;
}

.images {
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    width: 120px;
    visibility: visible;
    overflow: hidden;
    border-radius: 50%;
    z-index: 5;
}

.images > img {
    width: 100%;
    object-fit: cover;
}

.name {
    text-align: center;
    font-size: 14px;
    font-weight: var(--fw-bold);
    color: var(--white);
    padding: 10px 10px;
    z-index: 5;
}

.postContainer {
    position: absolute;
    top: 200px;
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    font-size: 12px;
    font-style: italic;
    color: #2e2d2c;
    overflow: hidden;
    height: 120px;
}

.contactsContainer {
    position: absolute;
    top: 330px;
    display: grid;
}

.contact {
    display: grid;
    grid-template-columns: 20px auto;
    gap: 10px;
    align-items: center;
    justify-content: left;
    margin-top: 5px;
    color: var(--gray);
    font-size: 12px;
    font-style: italic;
    font-weight: var(--fw-bold);
}

@media (max-width: 750px) {
    .title {
        font-size: var(--fs-md);
    }
    .wrapper {
        grid-template-columns: auto;
        gap: 0;
    }
}